@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    font-family: 'Lexend Deca', sans-serif;
}

.group-contact{
    grid-area: left1;
}



.body-hero .image-star {
    grid-area: right1;
}

.body-hero .image-star img {
    width: 570px;
    height: 314px;
    
}

.body-hero {
    display: grid;
    grid-template-areas:
    'left1 right1';
    justify-content: space-between;
    width: 1200px;
    height: 395px;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: 60px;
    border:10px;
    margin: 0 auto;
}

.group-contact {
    width: 560px;
    height: 335px;
    background-color: rgb(171, 171, 224);
    margin: 0 30px 0 0;
    padding: 10px;
}

.Contact{
    margin: 0 0 10px 0;
    width: 540px;
    height: 22.4px;
}

.Get-our {
    width: 540px;
    height: 143.19px;
    background-color: lightgreen;
    padding: 0 0 20px;

    text-align: left;
    color: #0F110F;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: -0.3px;
    margin: 0;
}

.text-find {
    background-color: aqua;
    width: 540px;
    height: 68.39px;
    color: #666666;

    text-align: left;
    color: #0F110F;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.9em;
}






